{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/styleCadastro.css '%}"/>
    <link href="https://cdnjs.cloudflare.com/ajax?libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet"/>
    <title>Cadastro</title>
</head>

<body>
    <div class="center appbar">    
        <div class="logo">
            <h3><img src="/media/images/tractor.svg"></img>Agro</h3>
        </div>
        <div class="menu">
            <a href="{% url 'products.dashboard' %}">Dashboard</a>
            <a href="{% url 'products.cadastro' %}>Cadastro</a>
        </div>       
    </div>
    <div class="container">
        <div class="form-image">
            <img src="/media/images/treeforregister.svg"></img>
        </div>
        
        <div class="form">
            <form action="#"> <!--aqui entra o backend-->
            <div class="form-header">
                <div class="title">            
                    <h1>Cadastro</h1>
                </div>                    
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Semente</label>
                    <input id="name" type="text" name="name" placeholder="Digite qual é a semente" required>
                </div>
                <div class="input-box">
                    <label for="number">Graus Dia máximo</label>
                    <input id="number" type="number" name="number" placeholder="Digite o Grau Dia máximo" required>
                </div>
                <div class="input-box">
                    <label for="number">Graus Dia mínimo</label>
                    <input id="number" type="number" name="number" placeholder="Digite o Grau Dia mínimo" required>
                </div>
            </div>                
            <div class="continue-buttom">
                <button><a href="#"><!--Confirmar Cadastro-->Confirmar</a></button>
            </div>
        </form>        
    </div>        
    
</body>