{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/styleCadastro.css '%}"/>
    <link href="https://cdnjs.cloudflare.com/ajax?libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet"/>
    <title>Cadastro</title>
</head>

<body>
    <div class="center appbar">    
        <div class="logo">
            <h3><img src="/media/images/tractor.svg"></img>Agro</h3>
        </div>
        {% include "global/partials/menu.html" %}       
    </div>

    <div class="container">
        <div class="form-image">
            <img src="/media/images/treeforregister.svg"></img>
        </div>
    <div class="form">


    <form method="post" action="{% url "products:cadastro_produto" %}"> 
        {% csrf_token %}
        <div class="form-header">
            <div class="title">            
                <h1>Cadastro</h1>
            </div>                    
        </div>
        <div class="input-group">
            <div class="input-box">
                <label for="id_nome">Cultura</label>
                <input id="id_nome" type="text" name="nome" placeholder="Digite qual é a cultura" required>
            </div>
            <div class="input-box">
                <label for="id_gd_max">GD max acumulado</label>
                <input id="id_gd_max" type="number" name="gd_max" placeholder="Digite o GD máximo" required>
            </div>
            <div class="input-box">
                <label for="id_gd_min">GD mín acumulado</label>
                <input id="id_gd_min" type="number" name="gd_min" placeholder="Digite o GD mínimo" required>
            </div>
            <div class="input-box">
                <label for="id_temp_basal">Temperatura basal</label>
                <input id="id_temp_basal" type="number" name="temp_basal" placeholder="Digite a Temperatura basal" required>
            </div>

            <label for="id_sensor">Escolha o sensor em relação à área:</label>
            <select id="id_sensor" name="sensor">
                {% for sensor in sensores %}
                    <option value="{{ sensor.id }}">{{ sensor.nome_sensor }}</option>
                {% endfor %}
            </select>

        </div>                
        <div class="continue-buttom">
            <button type="submit"><!--Confirmar Cadastro-->Confirmar</button>
        </div>
    </form>   

</body>