{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/grafico.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet"/>
    <title>Tabela</title>
</head>
<body>
    {% include "global/partials/menu_principal.html" %}

    <div class="container">
        
        <div class="title">
            <h2 class="h2-titulo">Gráficos relacionados a cultura "{{cultura_opcoes.nome_produto}}"</h2>
        </div>
        <br>
        <br>
        <div class="grafico">
            <!--Adicionar gráfico-->
        </div>

    </div>
    

</body>
</html>
