{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax?libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet"/>
    <title>Home</title>
</head>

<body>
    
    <section class="main">
        <header>
            <div class="center menu-container">
                <div class="logo">
                    <h3><img src="/media/images/tractor.svg" alt="trator"></img>Agro</h3>
                </div>
                {% include "global/partials/menu.html" %}
            </div><!--center-->
        </header>
        <div class="text-chamada"><h1>Agro!</h1><h3>Para a vida ficar melhor </h3></div>
    </section>

    <footer><P>Todos os direitos reservados</P></footer>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"></script>

    
</body>

</html>