<div class="row">
    <div class="card">
        <h2><strong>Título</strong></h2>
        <p>Temperatura Mínima (Colheita): <!--Temperatura Mínima p/ colheita--></p>
        <p>Temperatura Máxima (Colheita): <!--Temperatura Máxima p/ colheita--></p>
        <p>Temperatura Basal: <!--Temperatura Basal--></p>
        <div class="card-content">
            <div class="left-content">
                <div class="botao">
                    <a href="dashboard.html">Consultar</a> <!--#C aminho para o dashboard-->
                </div>
            </div>
            <div class="right-content">
                <img class="image" src="/media/images/planta.png" alt="Ícone de planta" style="color: green;"/>
            </div>
        </div>
    </div>