<div class="container">
    <div class="title">
        <h1>Título</h1>
    </div>
    <br>
    <br>
    <div class="table">
        <h2 class="titulo">Dia: 18/11/2023 <!--pegar da tabela--></h2>
        <table class="tab">
            <thead>
                <tr class="cabec">
                    <th>GD</th>
                    <th>Soma térmica</th>
                    <th>Temperatura Máxima</th>
                    <th>Temperatura Mínima</th>
                    <th>Previsão</th>
                </tr>
            </thead>
            <tbody>                    
                <tr>
                    <td>{{cultura_dashboard.nome_produto}}</td>
                    <td>Valor</td>
                    <td>Valor</td>
                    <td>Valor</td>
                    <td>Valor</td>
                </tr>  
            </tbody>
        </table>
    </div>
</div>