<div class="container">
    <div class="title">
        <h1>{{cultura_tabela.nome_produto}}</h1>
    </div>
    <div class="table">
        <table class="tab">
            <thead>
                <tr class="cabec">
                    <th>Data</th>
                    <th>GD</th>
                    <th>Soma térmica</th>
                    <th>Temperatura Máxima</th>
                    <th>Temperatura Mínima</th>
                    <th>Previsão</th> <!--quantos dias faltam-->
                </tr>
            </thead>
            <tbody>                    
                {% for data_row in data_to_render %}
                    <tr>
                        <td>{{ data_row.0.data_gd }}</td>
                        <td>{{ data_row.0.valor_gd }}</td>
                        <td>{{ data_row.1.soma_atual }} C°</td>
                        <td>{{ data_row.0.temperatura_max }} C°</td> <!-- Adicione a lógica para temperatura máxima -->
                        <td>{{ data_row.0.temperatura_min }} C°</td> <!-- Adicione a lógica para temperatura mínima -->
                        <td>{{ data_row.2.data_previsao }}</td>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>